.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 75rem;
  padding-left: 1rem;
}


ul{
    list-style: none;
  }

.news-section{
  margin-left: 5rem;
  margin-right: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.blog-title{
  margin-bottom: 0;
  margin-left: 2.5rem;
  font-size: 2rem;
  color: rgb(170, 29, 29);
  border-bottom: 0.3rem solid rgb(170, 29, 29);
  margin-bottom: 0;

}

.news-wrapper{
  margin-right: 2rem;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.news-section{
  display: flex;
}

.news-item{
  flex-basis: 100%;
  padding: 1rem;
  border: 0.1rem solid rgb(187, 187, 187);
  border-radius: 0.5rem;
}

.new-title{
  font-size: 2.5rem;
  text-align: justify;
  margin: 0;
  margin-bottom: 0.5rem;
  padding: 1rem;
}

.new-image{
  width: 95%;
  margin: 1rem;
  margin-bottom: 0.5rem;
  align-self: center;
}

.update-date{
  margin-left: 1rem;
  font-size: 1rem;
  color: rgb(107, 105, 105);
}


.new-date{
  font-size: 1rem;
  color: rgb(107, 105, 105);
  font-weight: 700;
  padding: 1rem;
  margin: 1rem;
  margin-top: 0;
}

.new-body{
  font-size: 1rem;
  text-align: justify;
  padding: 1rem;
  margin: 0;
  padding-top: 0;
}

.new-aside{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border: 0.3rem solid rgb(170, 29, 29);
  border-radius: 0.5rem;
  padding-top: 0;
  margin-left: 5rem;
  margin-right: 5rem;
}

.form-title{
  font-size: 2rem;
}

.new-form{
  display: flex;
  flex-direction: column;
}

.input{
  display: flex;
  justify-content: space-between;
}

.input-label{
  font-size: 1rem;
  color: rgb(28, 26, 31);
  font-weight: 600;
  margin: 0.5rem;
}

.input-box{
  margin: 0.5rem;
  width: 10rem;
}

.form-button{
  margin-top: 2rem;
  height: 3rem;
  font-size: 1.3rem;
  background-color: rgb(207, 207, 206);
  align-self: center;
  border: 0.1rem solid black;
  border-radius: 0.3rem;
}


@media (min-width: 1024px) {
  .news-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1.5rem;
  }

  .news-item{
    flex-basis: 43%;
  }

}